<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New account</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <p class="logo">+new</p>
        </header>
        <nav>
            <div class="navRight">
                <a class="nav" href="/login">login</a>
            </div>
        </nav>
        <main>
            <form action="/register" method="post">
                <input name="username" placeholder="+username" required />
                <input type="password" name="password" placeholder="+password" required />

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" value="+register" />
            </form>
        </main>
    </body>
</html>